@import url('https://fonts.googleapis.com/css?family=Audiowide|Trirong:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trirong',sans-serif;
}
h1{
    font-size: 50px;
    line-height: 64px;
    color: darkgoldenrod;
    
}
h2{
    font-size: 46px;
    line-height: 54px;
    color: crimson ;
}
h3{
    font-size: 34px;
    color: crimson;
}
h4{
    font-size: 20px;
    color: crimson;
}
h6{
    font-weight: 700;
    font-size: 12px;
}
p{
    font-size: 16px;
    margin: 15px 0 20px 0;
    color: rgb(12, 12, 12);
}
.section-p1{
    padding: 40px 80px;
}
.section-m1{
    margin: 40px 0;
}
body{
    width: 100%;
}
#header{/*navigation toggle bar*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5px 50px;
    background-color: gainsboro;
    box-shadow: 0 5px 15px rgba(138, 90, 140, 0);
    z-index: 999;
    position: sticky;/*to fix the navbar regardless of scroll effect*/
    top: 0;
    left: 0;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar li{
    list-style: none;
    padding: 0 40px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: peru;
    transition: 0.3s ease-in;
}
#navbar li a:hover,
#navbar li a.active{/*to highlight the existing page*/
    color: violet;
}
#navbar li a.active::after,
#navbar li a:hover::after{/*this line is to show underline for every element*/
    /*after and before are the pseudo classes which shouuld contain a content compulsory*/
    content: "";
    width: 30%;
    height: 2px;
    background-color: darkmagenta;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
#mobile {
    display: none;
    align-items: center;
}
#close{
    display: none;
}
#main{
    background-image: url("images/main.jpg");
    height: 90vh;
    width: 100%;
    background-position: top 25% right 0;
    background-size: cover;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#main h4{
    padding-bottom: 15px;
}
#main h1{
    color: teal;
}
#main button{
    background-image: url(images/button.png);
    background-color:transparent;
    border: 0;
    padding: 14px 80px 14px 65px;
    cursor: pointer;
    font-weight: 700;
    font-size: 17px;
    background-repeat: no-repeat;
}
#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0; 
}
#feature .fe-box:hover
{
    box-shadow: 10px 10px 54px rgba(13, 9, 79, 0.01);
}
#feature .fe-box h6{
    display: inline-block ;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: black;
    background-color: rgb(153, 231, 252);
}
#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}
#p1{
    text-align: center;
}
#p1 .procon{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}
#p1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid wheat;
    border-radius: 25px;
    box-shadow: 20px 20px 30px rgba(33, 20, 136,0);
    cursor: pointer;
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}
#p1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0,0.06);
}
#p1 .pro img{
    width: 100%;
    border-radius: 20px;
}
#p1 .pro .desc{
    text-align: start;
    padding: 10px 0;
}
#p1 .pro .desc span{
    font-size: 12px;
    color: #606063;
}
#p1 .pro.desc h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}
#p1 .pro .desc i{
    font-size: 12px;
    color:rgb(243,181,25);
}
#p1 .pro .desc h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}
/* #p1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    bottom: 20px;
    right:10px;
}*/
#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(images/ban.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}
#banner h4 {
    color: red;
    font-size: 16px;
}
#banner h2 {
    color: black;
    font-size: 30px;
    padding: 10px 0;
}
#banner h2 span{
    color: red;
    font-size: 30px;
    padding: 10px 0;
}
#banner button{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: 0.2s;
}
#banner button:hover{
    background: #088178;
    color: #fff;
}
#b1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#b1 .bb1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex;    
    background-image: url(images/b2.jpg);
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}
#b1 h4 {
    color: white;
    font-size: 16px;
}
#b1 button{
    width: 190px;
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color:transparent;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    border-color: whitesmoke;
    transition: 0.2s;
}
#b1 button:hover{
    background: #088178;
    color: #fff;
}
#b1 h4{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}
#b1 h2{
    color:white;
    font-size: 28px;
    font-weight: 800;
}
#b1 span{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}
#b1 .bb2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex;    
    background-image: url(images/b3.jpg);
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}
#b3{
    display: flex;
    justify-content: space-between;
    padding: 0 80px;
    flex-wrap: wrap;
}
#b3 .bb1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex;    
    background-image: url(images/b4.jpg);
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}
#b3 .b2{
    background-image: url(images/b1.jpg);
}
#b3 .b3{
    background-image: url(images/b5.jpg);
}
#b3 h2{
    color: #fff;
    font-weight: 900;
    font-size: 22px;
}
#b3 h3{
    color: red;
    font-size: 15px;
    font-weight: 800;
}
#notif{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(images/b6.jpg);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}
#notif h4{
    font-size: 22px;
    font-weight: 700;
    color: blueviolet;
}
#notif p{
    font-size: 14px;
    font-weight: 600;
    color: #0b2d5d;
}
#notif p span{
    font-size: 14px;
    font-weight: 600;
    color:peru;
}
#notif input{
    height: 3.125rem;
    padding: 0 1.25rem;
    font-size: 14px;
    width: 100%;
    border: 10px solid transparent;
    border-radius: 4px;
    outline: none;
}
#notif button,
#form-deet button,
#addcart button,
#subtotal button{
    width: 190px;
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color:transparent;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    border-color: whitesmoke;
    transition: 0.2s;
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
}
/*#notif .form{
    display: flex;
    width: 40%;
}*/
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}
footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}
footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}
footer .icon{
    margin-top: 20px;
}
footer .icon i{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}
footer .install .pics img{

    border: 1px solid  #088178;
    border-radius: 5px;
}
footer .install img {
    margin: 10px 0 15px 0;
}
footer .follow i:hover,
footer a:hover {
    color: #088178;
}
footer .copyright {
    width: 100%;
    text-align: center;
}
#page-header{
    background-image: url(images/shop/bg1.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}
#ext{
    text-align: center;
}
#ext a{
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}
#ext a i {
    font-size: 16px;
    font-weight: 600;
}
#prodetails{
    display: flex;
    margin-top: 20px;
}
#prodetails .single-pro-det{
    width: 50%;
    padding-top: 30px;
}
#prodetails .single-pro-det h4{
    padding: 40px 0 20px 0;
    color: black;
}
#prodetails .single-pro-det h2{
    padding: 40px 0 20px 0;
    color: black;
    font-size: 26px;
}
#prodetails .single-pro-det select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}
#prodetails .single-pro-det input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}
#prodetails .single-pro-det button{
    width: 190px;
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color:transparent;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    border-color: whitesmoke;
    transition: 0.2s;
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
} 
#prodetails .single-pro-det input :focus{
    outline: none;
}
#prodetails .single-pro-det span{
    line-height: 25px;
}
#prodetails .single-pro{
    width: 40%;
    margin-right: 50px;
}
.small-image-grp{
    display: flex;
    justify-content: space-between;

}
.small-image-col{
    flex-basis: 24%;
    cursor: pointer;
}
#page-header.about-header{
    background-image: url(images/neon.jpg);

}
#page-header.about-header p{
    color: whitesmoke;
    font-size: 24px;
}
#About-us {
    display: flex;
    align-items: center;
}
#About-us img{
    width: 50%;
    height: auto;
}
#About-us div{
    padding-left: 40px;    
}
#About-app{
    text-align: center;
}
#About-app .video{
    width: 70%;
    height: 100%;
    margin: 30px auto 0 auto;
}
#About-app .video video{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
#contact-det{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#contact-det .deets{
    width: 40%;
}
#contact-det .deets span,
#form-deet form span{
    font-size: 12px;
}
#contact-det .deets h2,
#form-deet form h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}
#contact-det .deets h3{
    font-size: 16px;
    padding-bottom: 15px;
}
#contact-det .deets li{
    list-style: none;
    display: flex;
    padding: 10px 0;
}
#contact-det .deets li i{
    font-size: 14px;
    padding-right: 22px;
}
#contact-det .deets li p{
    margin: 0;
    font-size: 14px;
}
#contact-det .map{
    width: 55%;
    height: 400px;
}
#contact-det .map iframe{
    width: 100%;
    height: 100%;
}
#form-deet{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}
#form-deet form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#form-deet form input,
#form-deet form textarea{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}
#form-deet .people div{
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}
#form-deet .people div img{
    height:65px;
    width: 65px;
    object-fit: cover;
    margin-right: 15;
    border-radius: 5px;
}
#form-deet .people div p{
    margin: 0;
    font-size: 13px;
    line-height: 25px
}
#form-deet .people div p span{
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: black;
}
#cart1{
    overflow-x: auto;
}
#cart1 table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}
#cart1 table img{
    width: 70px;
}
#cart1 table td:nth-child(1){
    width: 100px;
    text-align: center;
}
#cart1 table td:nth-child(2){
    width: 150px;
    text-align: center;
}
#cart1 table td:nth-child(3){
    width: 250px;
    text-align: center;
}
#cart1 table td:nth-child(4),
#cart1 table td:nth-child(5),
#cart1 table td:nth-child(6){
    width: 150px;
    text-align: center;
}
#cart1 table td:nth-child(5){
    width: 70px;
    padding: 10px 5px 10px 15px;
}
#cart1 table thead{
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}
#cart1 table thead td{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}
#cart1 table tbody tr td{
    padding-top: 15px;
}
#cart1 table tbody td{
    font-size: 13px;
}
#addcart{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#coupon{
    width: 50%;
    margin-bottom: 30px;
}
#coupon h3,
#subtotal h3{
    padding-bottom: 15px;
}
#coupon input{
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
}
#subtotal{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}
#subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}
#subtotal table td{
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;

}















@media (max-width:799px){
    .section-p1 {
        padding: 40px 40px;
    }
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0 ,0 ,0 ,0);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }
    #navbar.active{
        right: 0px;
    }
    #navbar li {
        margin-bottom: 25px;
    }
    #mobile {
        display: flex;
        align-items: center;
    }
    #mobile i {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }
    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }
    #bag {
        display: none;
    }
    #main {
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }
    #feature {
        justify-content: center;
    }
    #feature .fe-box {
        margin: 15px 15px;
    }
    #p1 .procon {
        justify-content: center;
    }
    #p1 .pro {
        margin: 15px;
    }
    #banner {
        height: 20vh;
    }
    #b1 .bb1 {
        min-width: 100%;
        height: 30vh;
    }
    #b3 {
        padding: 0 40px;
    }
    #b3 .bb1 {
        width: 28%;
    }
    #notif .form {
        width: 70%;
    }
    #form-deet{
        padding: 40px;
    }
    #form-deet form{
        width: 50%;
    }

}
@media(max-width:477px){
    .section-p1 {
        padding: 20px;
    }
    #header {
        padding: 10px 30px;
    }
    h1 {
        font-size: 38px;
    }
    h2 {
        font-size: 32px;
    }
    #main {
        padding: 0 20px;
        background-position: 55%
    }
    #feature {
        justify-content: space-between;
    }
    #feature .fe-box {
        width: 155px;
        margin:0 0 15px 0;
    }
    #p1 .pro {
        width: 100%;
    }
    #banner {
        height: 40vh;
    }
    #b1 .bb1 {
        height: 40vh;
    }
    #b1 .bb2 {
        margin-top: 20px;
    }
    #b3 {
        padding:  0 20px;
    }
    #b3 .bb1 {
        width: 100%;
    }
    #notif {
        padding: 40px 20px;
    }
    #notif .form {
        width: 100%;
    }
    footer .copyright {
        text-align: start;
    }
    #prodetails{
        display: flex;
        flex-direction: column;
    }
    #prodetails .single-pro{
        width: 100%;
        margin-right: 0px;
    }
    #prodetails .single-pro-det{
        width: 100%;
    }
    #About-us{
        flex-direction: column;
    }
    #About-us img{
        width: 100%;
        margin-bottom: 20px;
    }
    #About-us div{
        padding-left: 0px;
    }
    #About-app .video {
        width: 100%;
    } 
    #contact-det{
        flex-direction: column;
    }   
    #contact-det .deets{
        width: 100%;
        margin-bottom: 30px;
    }
    #contact-det .map{
        width: 100%;
    }
    #form-deet{
        margin: 10px;
        padding: 30px 10px;
        flex-wrap: wrap;
    }
    #form-deet form{
        width: 100%;
        margin-bottom: 30px;
    }
    #addcart{
        flex-direction: column;
    }
    #coupon{
        width: 100%;
    }
    #subtotal{
        width: 100%;
        padding: 20px;
    }

}
